<head>
  <title>Lisnasharragh Primary School | Curriculum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../assets/img/favicon1.png"/>
  <link rel="stylesheet" href="../assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../assets/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="../assets/stylesheets/custom.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Lora:700|Trocchi|Rubik" rel="stylesheet">

  <script src="../assets/js/jquery-1.10.2.min.js"></script>
  <script src="../assets/js/bootstrap.js"></script>
</head>

<body>
  <nav id="homeNavigation" class="navbar navbar-inverse navbar-fixed-top" style="opacity:1;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="logoLISP" style="background-color:#26569f" href="../index.html">
          <img style="display:inline;" src="../assets/img/logo-plain-60-2.png" alt="Welcome">
        </a>
        <a class="logoLISPMobile" style="background-color:#26569f" href="../index.html">
          <img style="display:inline;" src="../assets/img/logo-plain-40-2.png" alt="Welcome">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color:#FDD835; text-align:center;" role="button" aria-haspopup="true" aria-expanded="false">
              <img src=../assets/img/school-icon-28.png><br /><strong>Our School <i class="fa fa-caret-down" aria-hidden="true"></i></strong>
            </a>
            <ul class="dropdown-menu" style="background-color:#008bde">
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/principals-welcome.html style="color:#ffd555">Principal's Welcome</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/prospectus.html style="color:#ffd555">Prospectus</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/inspection-reports.html style="color:#ffd555">Inspection Reports</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/policies.html style="color:#ffd555">Policies</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/board-of-governors.html style="color:#ffd555">Board of Governors</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/school-day.html style="color:#ffd555">School Day</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/newsletters.html style="color:#ffd555">Newsletters</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/meet-our-staff.html style="color:#ffd555">Meet our Staff</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../our-school/eco-council.html style="color:#ffd555">Eco-Council</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color:#FDD835; text-align:center;" role="button" aria-haspopup="true" aria-expanded="false">
              <img src=../assets/img/info-icon-28.png><br /><strong>Parents <i class="fa fa-caret-down" aria-hidden="true"></i></strong>
            </a>
            <ul class="dropdown-menu" style="background-color:#008bde">
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/parentmail.html style="color:#ffd555">ParentMail</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/uniform.html style="color:#ffd555">Uniform</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/conduct.html style="color:#ffd555">Conduct</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/wrap-around-club.html style="color:#ffd555">Wrap-Around Club</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/after-school-activities.html style="color:#ffd555">After-School Activities</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/school-meals.html style="color:#ffd555">School Meals</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/music-lessons.html style="color:#ffd555">Music Lessons</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../parents/applications-for-p1.html style="color:#ffd555">Applications for P1</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color:#FDD835; text-align:center;" role="button" aria-haspopup="true" aria-expanded="false">
              <img src=../assets/img/pencil-icon-28.png><br /><strong>Class Pages <i class="fa fa-caret-down" aria-hidden="true"></i></strong>
            </a>
            <ul class="dropdown-menu" style="background-color:#008bde">
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=./curriculum.html style="color:#ffd555">Curriculum</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color:#FDD835; text-align:center;" role="button" aria-haspopup="true" aria-expanded="false">
              <img src=../assets/img/parents-icon-28.png><br /><strong>Community <i class="fa fa-caret-down" aria-hidden="true"></i></strong>
            </a>
            <ul class="dropdown-menu" style="background-color:#008bde">
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../community/parents-and-toddlers.html style="color:#ffd555">Parents and Toddlers</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../community/parent-staff-association.html style="color:#ffd555">Parent Staff Association</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../community/special-programmes-and-projects.html style="color:#ffd555">Special Programmes and Projects in 17-18</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../community/shared-education.html style="color:#ffd555">Shared Education</a></li>
              <li data-toggle="collapse" data-target=".navbar-collapse"><a href=../community/active-travel.html style="color:#ffd555">Active Travel</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div id="mainSplash" *ngIf="bodySize > 640" class="splash-curriculum" style="padding-top:20%;">
</div>

<div class="mobilePadding">
</div>

<div class="container-fluid" style="border-top: thick solid rgba(253,216,53, 0.5); background-image:url(../assets/img/bkg-colour.png); padding-top:25px; padding-bottom:50px;">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="../index.html">Home</a></li>
      <li><a>Class Pages</a></li>
      <li class="active">Curriculum</li>
    </ol>
  </div>
  <div class="container" style="color:#3b444f; background-color:#FFF; padding-top:10px; padding-bottom:50px;">
    <div class="row">
      <div class="col-sidebar">
        <h2 class="welcome" style="color:#2f52a5; text-align:center;"><strong>CLASS PAGES</strong></h2>
        <hr size=2 width=75%>
        <a class="sidebar-active" href=""><h4><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>Curriculum</h4></a>
      </div>
      <div class="col-sm-8">
        <h2 class="welcome" style="color:#2f52a5; text-align:center; text-transform: uppercase;"><strong>CURRICULUM</strong></h2>
        <hr size=2 width=75%>
        <!-- <div *ngIf="bodySize <= 640" class="thumbnail">
          <img src="./assets/img/news-books.jpg">
        </div> -->
        <h4>
          As one of the largest primary schools in the area we feel that we can offer your child a broad and balanced range of learning experiences. We are very keen to meet the specific needs of all of our pupils, with all children believing that they are improving and achieving. It is our firm belief that we are extremely well placed to meet the challenges presented by education in the 21st century. The Northern Ireland Curriculum for primary and post-primary schools was launched in September 2007.
        </h4>
        <h4>
          A key point is that it is a revised curriculum - not a totally new one. Much is as it was before, with the greatest change being that children are now learning in a much more active and meaningful way. Our teachers are currently developing a key element of this new approach called Assessment for Learning. The ultimate aim is that the children will develop the necessary skills to become independent learners.
        </h4>
        <br/>
        <br/>
        <h4>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="color:#2f52a5;">
                    <strong>English</strong></a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    The three core areas of talking and listening, reading and writing are approached in an integrated manner. Throughout the school emphasis is given to developing the children s oral skills with opportunities provided to discuss, explain, debate and give formal presentations.
                    <br/>
                    Following our own reading programme, which embraces a number of commercial schemes as well as group and class novels, the skills and techniques of reading are thoroughly taught, with the aim of developing independent reading habits. We also encourage parents to involve themselves fully with their child s reading development and have a Family Reading Programme designed to foster this.
                    <br/>
                    <br/>
                    Our school library, book shop, class libraries and visits by travelling Book Fairs contribute greatly to our children fulfilling their reading potential. Lisnasharragh Primary School also operates the  Time to Read programme which involves volunteers from the business community coming into school to listen to the children read. Written skills are given a high priority with the development of a clear, attractive handwriting style, well-constructed and punctuated written work and interesting, relevant content all being important objectives.
                  </div>
                  <br/>
                    <br/>
                    <div style="text-align:center;">
                      <button type="button" class="btn btn-lis" onclick="window.open('http://ccea.org.uk/curriculum/key_stage_1_2/areas_learning/language_and_literacy');">English NI Curriculum</button>
                    </div>
                  <br/>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="color:#2f52a5;">
                        <strong>Mathematics</strong></a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">
                        Our mathematics programme is based upon a line of progression in number, measurement, shape and handling data. Through varied and challenging activities the children are encouraged to develop an investigative approach to problem solving.
                      </div>
                      <br/>
                        <br/>
                        <div style="text-align:center;">
                          <button type="button" class="btn btn-lis" onclick="window.open('http://ccea.org.uk/curriculum/key_stage_1_2/areas_learning/mathematics_and_numeracy');">Mathematics NI Curriculum</button>
                        </div>
                      <br/>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" style="color:#2f52a5;">
                          <strong>Information and Communication Technology</strong></a>
                        </h4>
                      </div>
                      <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">ICT skills are developed through a wide range of subject areas. Each classroom now has at least two computers allowing each child opportunities to develop these skills. We have recently opened a new computer suite complete with fifteen Dell laptop and desktop computers. All classrooms have had interactive whiteboards installed. There is also an interactive classroom that is used by the senior children.
                        </div>
                        <br/>
                          <br/>
                          <div style="text-align:center;">
                            <button type="button" class="btn btn-lis" onclick="window.open('http://www.rewardinglearning.org.uk/microsites/ict/');">ICT NI Curriculum</button>
                          </div>
                        <br/>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="color:#2f52a5;">
                            <strong>Science and the World Around Us</strong></a>
                          </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                            The science and technology programme is based on topics that relate to the children s own experiences. Through observation, recording and evaluating, along with practical skills of planning, designing and making the children develop scientific knowledge and skills.
                            <br/>
                            <br/>
                            <div style="text-align:center;">
                              <button type="button" class="btn btn-lis" onclick="window.open('http://ccea.org.uk/curriculum/key_stage_1_2/areas_learning/world_around_us');">Science NI Curriculum</button>
                            </div>
                          <br/>
                        </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="color:#2f52a5;">
                              <strong>Modern languages</strong></a>
                            </h4>
                          </div>
                          <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">The children in Primary 3 and Primary 4 are currently enjoying Spanish lessons each week while Primary 6 and Primary 7 classes are taught French and Spanish as part of Grosvenor Grammar School s outreach programme.
                              <br/>
                              <br/>
                              <div style="text-align:center;">
                                <button type="button" class="btn btn-lis" onclick="window.open('http://ccea.org.uk/curriculum/key_stage_1_2/areas_learning/world_around_us');">Modern Language NI Curriculum</button>
                              </div>
                            <br/>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="color:#2f52a5;">
                                <strong>Music</strong></a>
                              </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                              <div class="panel-body">Our school has an extremely strong musical tradition with our choir always in demand to sing at local events and on special occasions. We have two music tutors coming in every week and there are currently children learning to play drums, piano, cornet, clarinet, flute, tenor horn, baritone and euphonium.
                                <br/>
                                <br/>
                                <div style="text-align:center;">
                                  <button type="button" class="btn btn-lis" onclick="window.open('http://ccea.org.uk/curriculum/key_stage_1_2/areas_learning/world_around_us');">Music NI Curriculum</button>
                                </div>
                              <br/>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" style="color:#2f52a5;">
                                  <strong>Special Educational Needs</strong></a>
                                </h4>
                              </div>
                              <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">We attempt to identify children with learning difficulties at an early stage. These children have the opportunity to receive specialist teaching in small groups from our special educational needs teacher. Through close liaison with the class teacher, suitable learning programmes are devised and parents are kept closely informed and involved in this process.
                                  <br/>
                                  <br/>
                                  <div style="text-align:center;">
                                    <button type="button" class="btn btn-lis" onclick="window.open('http://ccea.org.uk/curriculum/key_stage_1_2/areas_learning/world_around_us');">Special Needs NI Curriculum</button>
                                  </div>
                                <br/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </h4>
                        <br/>
                        <button type="button" class="btn btn-lis btn-lg" onclick="window.open('http://ccea.org.uk/curriculum');">See Northern Ireland Curriculum</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-full" style="bottom:0px; border-top: thick solid rgba(249,230,148,1); background-color:#3b444f; padding-top:10px; padding-bottom:10px;">
                  <div class="container">
                    <h4 style="color:#FDD835; text-align:center;">
                      <i class="fa fa-home fa-fw" aria-hidden="true" style="color:#FFF"></i>&nbsp; Lisnasharragh Primary School, Tudor Drive, Belfast, BT6 9LS&nbsp;
                      <i class="fa fa-phone fa-fw" aria-hidden="true" style="color:#FFF"></i>&nbsp; 028 9040 1211&nbsp;
                      <i class="fa fa-fax fa-fw" aria-hidden="true" style="color:#FFF"></i>&nbsp; 028 9040 2948&nbsp;
                      <i class="fa fa-envelope fa-fw" aria-hidden="true" style="color:#FFF"></i>&nbsp; info@lisnasharraghps.com
                    </h4>
                  </div>
                </div>
                </body>
